*~*
*.orig
*.class
*closure
target
target/
target/classes
target/classes/
classpath
.settings
*stacktrace
.settings
.classpath
.project
subscriber/web-app/WEB-INF/classes
subscriber/target-eclipse/
webserver/web-app/WEB-INF/classes
webserver/target-eclipse/
webserver/target-eclipse/classes/
tests/web-app/WEB-INF/classes*
tests/target-eclipse*
target-eclipse/classes
target-eclipse
stacktrace.log
dtd/
prodDb.log
prodDb.properties
prodDb.script
newrelic.log
ml-build/
.DS_Store
